#img1 img
{
    padding-top: 0%;
    padding-left: 30%;
   width:40%;
   height:40%;
   
}
.container
{
    margin-top: 3%;
background-color: rgb(237, 230, 220);
height: 100%;
}
.body
{
    background-color: black;
}